.content .c-row {
  display: flex;
  column-gap: 32px;
}

.c-row .c-left {
  flex: 8;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.c-row .c-left .grant-info {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.c-row .c-left .grants {
  display: flex;
  column-gap: 16px;
}

.c-row .c-left .grants .g-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 16px;
  border: 1px solid var(--stroke);
  padding: 24px;
}

.c-row .c-left .grants .g-card .grant-value {
  font-size: 1.75rem;
  font-weight: 500;
}

.c-row .c-left .grants .g-card .grant-main-text {
  font-size: 1rem;
  font-weight: 400;
}

.c-row .c-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.content .card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 16px;
}

.card .ci-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.ci-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.ci-content-row {
  display: flex;
  column-gap: 16px;
}

.ci-content-social-row {
  display: flex;
  column-gap: 16px;
}

.cause-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ci-content-row-pc {
  display: flex;
  column-gap: 16px;
}

.border {
  background: #dedfe7;
  width: 100%;
}

.learn-more {
  text-decoration: none;
  color: var(--main-blue);
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid var(--main-blue);
}

.send-grant {
  display: flex;
  justify-content: space-between;
  column-gap: 18px;
}

.send-grant .sg-logo-wrapper {
  display: flex;
  column-gap: 24px;
}

.send-grant .sg-logo-wrapper .logo-container {
  width: 96px;
  height: 96px;
}

.send-grant .sg-logo-wrapper .logo-container .logo {
  width: 100%;
  height: 100%;
}

.send-grant .sg-text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.send-grant .sg-text-wrapper .sg-main-text {
  font-size: 1.375rem;
  font-weight: 700;
}

.send-grant .sg-text-wrapper .sg-location {
  display: flex;
  column-gap: 8px;
  color: var(--main-black);
  opacity: 0.6;
  font-size: 1rem;
  font-weight: 500;
}

.sg-actions {
  display: flex;
  align-items: flex-start;
}

.sg-actions-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.icon-button .fav-btn {
  color: var(--main-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
