.content {
}

.content .c-row {
  display: flex;
  column-gap: 32px;
}

.c-row .c-left {
  flex: 5;
}

.c-row .c-right {
  flex: 3;
}

.content .card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 16px;
}
